# Book Recommendations Dataset

This notebook uses the [Book Recommendations](https://www.kaggle.com/arashnic/book-recommendation-dataset) dataset available on Kaggle.

## Imports

In [6]:
# TODO: Import any other modules you need
import pandas as pd
import numpy as np

In [8]:
# TODO: Read Books.csv, Ratings.csv and Users.csv into similary named dataframes
data1  = pd.read_csv("Books.csv")
data1.head()

c:\Users\COMPUTER\NewAISaturday\.venv\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [10]:
data2  = pd.read_csv("Ratings.csv")

data2.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [11]:
data3 = pd.read_csv("Users.csv")

data3.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

## Exploratory Data Analysis (EDA)

### TODO: 
* Use the `describe` and `info` methods on each of your dataframes. 
* Check the `dtypes` for the columns in each dataframe.
* Check for missing values in each dataframe
* Check for any other operations commonly used during EDA and perform it here

## Fact-Finding

You may need to apply the `groupby` method here. Here's a great introduction: [Pandas GroupBy: Your Guide to Grouping Data in Python](https://realpython.com/pandas-groupby/).
### TODO: 
* Group the `ratings` dataframe by `User-ID` and check the `average` rating by user.
* Group the `ratings` dataframe by `ISBN` and check the `average` rating each book has gotten.
* Create a `Series` containing the number of books each user has read
* Who are the top 10 most rated authors?
* Who are the top 10 highest rated authors?

## Engineering

### TODO: 
* Apply the `to_datetime` method to the `Year-of-Publication` `inplace`. 
* Use the `drop` method to drop all the `Image` columns in the `books` dataframe.
* Read this article - [How to Split String Column in Pandas into Multiple Columns](https://www.statology.org/pandas-split-column/) then apply the method to split the `location` column into three columns `city`, `state`, `country`.
* Which other `str` methods are available in pandas? Try out one or two others. 
* Merge the `ratings` and `books` dataframe into one dataframe named `books_and_ratings`
* Merge the `books_and_ratings` dataset and the `users` dataframe into a dataframe named `user_preferences`

## Querying and Indexing

Here's a useful article:
* [The Unreasonable Effectiveness of Method Chaining in Pandas](https://towardsdatascience.com/the-unreasonable-effectiveness-of-method-chaining-in-pandas-15c2109e3c69)

### TODO:
* Use the `query` method to return rows from the `user_preferences` dataframe where `User-ID` is equal to `276822`
* Repeat the same operation as before but this time return rows where `ISBN` is equal to `0345260317`
* Return rows where the `ISBN` is equal to `0345260317` and `Book-Rating` is greater than 0.
* Repeat all the operations performed above using the `loc` method rather than `query`
* Time the operation of both methods (See [Profiling and Timing Code](https://jakevdp.github.io/PythonDataScienceHandbook/01.07-timing-and-profiling.html)). Which is faster?
* Use the `to_dict` method to convert the output of query to dictionary. 
* Write a function that takes in a `dataframe` and a `user_id` and returns a dictionary of rows with matching user ids. Test your function using the `user_preferences` dataframe and any user id in the data.

### Hierarchical Indexing

Study the [Hierarchical Indexing](https://jakevdp.github.io/PythonDataScienceHandbook/03.05-hierarchical-indexing.html) chapter from Python Data Science Handbook.

### TODO
* Include 3 or 4 of your observations in the `Comments` below after exploring the dataset

### Comments
*